*{
  font-family: "FiraCode Nerd Font Mono";
  font-weight: bold;
  min-height: 0;
  /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
  font-size: 102%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  }
  
  window#waybar {
    background: rgba(0, 0, 0, 0)
  }
  
  window#waybar.hidden {
    opacity: 0.5;
  }
  
  tooltip {
    background: #313244;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #313244;
  }
  
  /*-----module groups----*/
  .modules-right {
    background-color: #313244;
    border: 0px solid #313244;
    border-radius: 10px;
  }
  
  .modules-center {
    background-color: #313244;
    border: 0px solid #313244;
    border-radius: 10px;
  }
  
  .modules-left {
    background-color: #313244;
    border: 0px solid #313244;
    border-radius: 10px;
  
  }
  
  #workspaces button {
    padding: 2px;
    color: #a6adc8;
    margin-right: 5px;
  }
  
  #workspaces button.active {
    color: #74c7ec;
    border-radius: 15px 15px 15px 15px;
  }
  
  #workspaces button.focused {
    color: #45475a;
  }
  
  #workspaces button.urgent {
    color: #f38ba8;
    border-radius: 10px;
  }
  
  #workspaces button:hover {
    color: #cdd6f4;
    border-radius: 15px;
  }
  
  #clock,
  #disk,
  #wireplumber,
  #mode,
  #tray,
  #cava,
  #backlight,
  #window,
  #idle_inhibitor,
  #keyboard-state,
  #mpd,
  #bluetooth,
  #taskbar,
  #taskbar button,
  #workspaces,
  #custom-updater,
  #custom-cycle_wall,
  #custom-power,
  #custom-spotify,
  #custom-weather,
  #custom-weather.severe,
  #custom-weather.sunnyDay,
  #custom-weather.clearNight,
  #custom-weather.cloudyFoggyDay,
  #custom-weather.cloudyFoggyNight,
  #custom-weather.rainyDay,
  #custom-weather.rainyNight,
  #custom-weather.showyIcyDay,
  #custom-weather.snowyIcyNight,
  #custom-weather.default {
    color: #74c7ec;
    padding: 0px 10px;
    border-radius: 10px;
  }
  
  #network,
  #cpu {
    color: #a6e3a1;
    padding: 0px 10px;
    border-radius: 10px;
  }
  
  #custom-power,
  #memory {
    color: #b4befe;
    padding: 0px 10px;
    border-radius: 10px;
  }
  
  #pulseaudio,
  #temperature {
    color: #f9e2af;
    padding: 0px 10px;
    border-radius: 10px;
  }
  
  #battery,
  #custom-lock {
    color: #89b4fa;
    padding: 0px 10px;
    border-radius: 10px;
  }

  #idle_inhibitor {
    color: #f2cdcd;
    padding: 0px 10px;
    border-radius: 10px;
  }

  #custom-light_dark {
    color: #f5c2e7;
    padding: 0px 10px;
    border-radius: 10px;
  }
  
  #custom-menu {
    color: #94e2d5;
    padding: 0px 10px;
    border-radius: 10px;
  }
  
  #pulseaudio.microphone {
    color: #fab387;
    padding: 0px 10px;
    border-radius: 10px;
  }

  #temperature.critical {
    background-color: #eba0ac;
  }
  
  @keyframes blink {
    to {
      color: #000000;
    }
  }
  
  #taskbar button.active {
    background-color: #45475a;
  }
  
  #battery.critical:not(.charging) {
    color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
